<a href="https://colab.research.google.com/github/Francisco-88/prueba-colab/blob/main/pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Primeros pasos con Python

In [1]:
print('hello world')

hello world

In [2]:
print("¡Hola!")

¡Hola!

# Bucles

## for

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## while

In [4]:
numero = 1
while numero <= 10:
  print(numero)
  numero += 1

1
2
3
4
5
6
7
8
9
10

In [5]:
# option = 0
# while option != 4:
#   print("1. Perform action 1")
#   print("2. Perform action 2")
#   print("3. Perform action 3")
#   print("4. Exit")

# Listas

In [6]:
frutas = ["manzana", "banana", "naranja"]
primera_fruta = frutas[0]
print(primera_fruta)

largo = len(frutas)
print(largo)

manzana
3

In [7]:
# agregar un elemento a la lista
frutas.append("uva")

for fruta in frutas:
  print("hola ",fruta)

hola  manzana
hola  banana
hola  naranja
hola  uva

In [8]:
estudiantes = ["Alice", "Bob", "Charlie"]
for estudiante in estudiantes:
  print("hola ", estudiante)

hola  Alice
hola  Bob
hola  Charlie

In [9]:
largo_lista = len(estudiantes)
print("El largo de la lista es: ", largo_lista)
primer_estudiante = estudiantes[0]
print("y el primer estudiante es: ", primer_estudiante)

El largo de la lista es:  3
y el primer estudiante es:  Alice

In [10]:
total = 0
for numero in range(1, 101):
  total += numero
  print("El total es: ", total)

El total es:  1
El total es:  3
El total es:  6
El total es:  10
El total es:  15
El total es:  21
El total es:  28
El total es:  36
El total es:  45
El total es:  55
El total es:  66
El total es:  78
El total es:  91
El total es:  105
El total es:  120
El total es:  136
El total es:  153
El total es:  171
El total es:  190
El total es:  210
El total es:  231
El total es:  253
El total es:  276
El total es:  300
El total es:  325
El total es:  351
El total es:  378
El total es:  406
El total es:  435
El total es:  465
El total es:  496
El total es:  528
El total es:  561
El total es:  595
El total es:  630
El total es:  666
El total es:  703
El total es:  741
El total es:  780
El total es:  820
El total es:  861
El total es:  903
El total es:  946
El total es:  990
El total es:  1035
El total es:  1081
El total es:  1128
El total es:  1176
El total es:  1225
El total es:  1275
El total es:  1326
El total es:  1378
El total es:  1431
El total es:  1485
El total es:  1540
El total es:  1596
El total es:  1653
El total es:  1711
El total es:  1770
El total es:  1830
El total es:  1891
El total es:  1953
El total es:  2016
El total es:  2080
El total es:  2145
El total es:  2211
El total es:  2278
El total es:  2346
El total es:  2415
El total es:  2485
El total es:  2556
El total es:  2628
El total es:  2701
El total es:  2775
El total es:  2850
El total es:  2926
El total es:  3003
El total es:  3081
El total es:  3160
El total es:  3240
El total es:  3321
El total es:  3403
El total es:  3486
El total es:  3570
El total es:  3655
El total es:  3741
El total es:  3828
El total es:  3916
El total es:  4005
El total es:  4095
El total es:  4186
El total es:  4278
El total es:  4371
El total es:  4465
El total es:  4560
El total es:  4656
El total es:  4753
El total es:  4851
El total es:  4950
El total es:  5050

In [11]:
numeros = [1, 2, 3, 4, 5]
index = 0

while index < len(numeros):
  if numeros[index] % 2 == 0:
    print(numeros[index])
  index += 1

2
4

## Bucles anidados

In [12]:
for i in range(1,11):
  for j in range(1,11):
    print(i, "*", j, "=", i * j, end="\t")
  print()

1 * 1 = 1	1 * 2 = 2	1 * 3 = 3	1 * 4 = 4	1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6	2 * 4 = 8	2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9	3 * 4 = 12	3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30
4 * 1 = 4	4 * 2 = 8	4 * 3 = 12	4 * 4 = 16	4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15	5 * 4 = 20	5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18	6 * 4 = 24	6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21	7 * 4 = 28	7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70
8 * 1 = 8	8 * 2 = 16	8 * 3 = 24	8 * 4 = 32	8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80
9 * 1 = 9	9 * 2 = 18	9 * 3 = 27	9 * 4 = 36	9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90
10 * 1 = 10	10 * 2 = 20	10 * 3 = 30	10 * 4 = 40	10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100

In [13]:
max_value = 50
for i in range(max_value + 1):
  if i % 3 == 0 and i % 4 == 0:
    print(i)

0
12
24
36
48

In [14]:
numbers = [3, 9, 1, 10, 5, 2, 8]

for number in numbers:
    if number % 2 == 0:
        print(number, "es par")
    else:
        print(number, "es impar")

3 es impar
9 es impar
1 es impar
10 es par
5 es impar
2 es par
8 es par

# Detectando números pares e impares

In [15]:
numbers = [3, 9, 1, 10, 5, 2, 8]

for number in numbers:
    if number % 2 == 0:
        print(number, "es par")
    if number % 3 == 0:
        print(number, "es impar")

3 es impar
9 es impar
10 es par
2 es par
8 es par

In [16]:
for i in range(1,11):
  if i == 5:
    print("hemos llegado a la mitad")
  print(i)

1
2
3
4
hemos llegado a la mitad
5
6
7
8
9
10

In [17]:
temporizador = 10
for i in range(temporizador, -1, -1):
  print(i)
  if i == 5:
    print('¡Punto medio alcanzado!')

10
9
8
7
6
5
¡Punto medio alcanzado!
4
3
2
1
0

# Ejercicio: Variables y bucles

In [18]:
celsius_temperatures = [0, 10, 25, 35, 100]
fahrenheit_temperatures = []

# transformar temperaturas en grados celsius a grados fahrenheit
for celsius in celsius_temperatures:
  f = (celsius * 9/5) + 32
  fahrenheit_temperatures.append(f)

print(fahrenheit_temperatures)

[32.0, 50.0, 77.0, 95.0, 212.0]

# Listas

In [19]:
compras_supermercado = ["leche", "hummus", "pan", "queso", "manzanas"]
# acceder a un elemento de la lista
print(compras_supermercado[1])
# ver el largo de la lista
print(len(compras_supermercado))
# acceder al último elemento de la lista
print(compras_supermercado[-1])
# acceder a los dos primeros elementos - se imprime los elementos 0 y 1 y el 2 queda excluido
print(compras_supermercado[0:2])
# veces que aparece un elemento dentro de una lista
print(compras_supermercado.count("hummus"))

hummus
5
manzanas
['leche', 'hummus']
1

In [20]:
# ordenar los elementos de una lista
compras_supermercado.sort()
print(compras_supermercado)

['hummus', 'leche', 'manzanas', 'pan', 'queso']

In [21]:
# invertir los elementos de la lista
compras_supermercado.reverse()
print(compras_supermercado)

['queso', 'pan', 'manzanas', 'leche', 'hummus']

In [22]:
numeros = [1,2,3,4]
numeros.reverse()
print(numeros)

[4, 3, 2, 1]

# Funciones

In [26]:
def suma(a,b):
  return a+b

suma(10,2)

12

In [27]:
def multiplicacion(a,b):
  return a*b

multiplicacion(10,2)

20

In [30]:
def calcular_area_rectangulo(base,altura):
  """función para calcular el área de un rectángulo.
  Para invocar la función debes ingresar los parámetros de base y altura,
  por ejemplo así:
  calcular_area_rectangulo(10,2) y te entregará el resultado el área del rectangulo."""
  area = base * altura
  return area

calcular_area_rectangulo(30,18)

540

In [47]:
def precio_con_descuento(precio,descuento):
  """función que permite calcular el precio final de un producto con descuento.
  Para hacer uso de ella debe invocarla así:
  precio_con_descuento(100,20) siendo 100 el precio original y 20 el descuento a aplicar sobre los 100"""
  precio_final = int(precio - (precio * descuento / 100))
  return print(f"Tu precio con descuento aplicado es de:${precio_final:,}")

precio = 10000
descuento = 20

precio_con_descuento(precio,descuento)

Tu precio con descuento aplicado es de:$8,000